* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  width: 1200px;
}
.card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: #232323;
  border: solid 1px white;
}
img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a:visited {
  color: black;
}

section {
  height: 100vh;
}

span {
  position: absolute;
  pointer-events: none;
  background: #fff;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(-500%) rotate(360deg);
    opacity: 0;
  }
}