body {
  margin: 0;
  padding: 0;
  background: #ff5c40;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.hamburguer {
  width: 50px;
  height: 6px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}

.hamburguer:before,
.hamburguer:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}

.hamburguer:before {
  top: -16px;
}

.hamburguer:after {
  top: 16px;
}

.icon.active .hamburguer,
.icon.active .hamburguer:before,
.icon.active .hamburguer:after {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  /* border-radius: 50%; */
}

.icon.active .hamburguer {
  background: rgba(0, 0, 0, 0);
}

.icon.active .hamburguer:before {
  transform: rotate(45deg);
  top: 0px;
}

.icon.active .hamburguer:after {
  transform: rotate(-45deg);
  top: 0px;
}